@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scrollbar-width: thin;
    scrollbar-color: #006A67 #f1f1f1;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #FFF4B7;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #006A67;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #004F49;
}